/* Tema padrão (claro) */
:root {
    --primary-color: #3f51b5; /* Azul suave, cor principal */
    --secondary-color: #f9f9fc; /* Fundo cinza muito claro */
    --text-color: #4a4a4a; /* Cinza escuro, mais suave para leitura */
    --text-light: #000000; /* Branco para texto claro */
    --border-color: #d1d5db; /* Cinza suave para bordas */
    --shadow-color: rgba(0, 0, 0, 0.05); /* Sombra leve */
  }
  
  /* Tema escuro */
  .dark-theme {
    --primary-color: #309292; /* Cinza-azulado escuro mais sofisticado */
    --secondary-color: #212b36; /* Fundo preto acinzentado */
    --text-color: #e0e0e0; /* Texto claro mais suave */
    --text-light: #ffffff; /* Branco para texto claro */
    --border-color: #444b5a; /* Cinza suave para bordas */
    --shadow-color: rgba(0, 0, 0, 0.25); /* Sombra mais intensa */
  }
  
  /* Botão de alternância */
  #theme-toggle {
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--text-light);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease,
      box-shadow 0.3s ease;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
  
  #theme-toggle:hover {
    background: var(--text-light);
    color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  #theme-toggle:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
  
  #theme-toggle:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.5); /* Foco suave */
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
    padding-bottom: 40px;
    scroll-padding-top: 40px;
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  header .intro {
    font-size: 1.3rem;
    padding: 10px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    flex: 1;
  }
  
  #certificados {
    margin-top: 20px;
  }
  
  #certificados h2 {
    text-align: center;
    color: var(--text-light);
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .certificados-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }
  
  .certificados-list .certificado {
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    padding: 15px;
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: transform 0.3s ease;
  }
  
  .certificado-link {
    color: var(--primary-color);
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
  }
  
  .certificado-link:hover {
    text-decoration: underline;
  }
  
  .certificados-list .certificado:hover {
    transform: scale(1.05);
  }
  
  .certificado h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  /* Estilo para a seção de Contato */
  #contato {
    margin-top: 40px;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 1s ease-in-out;
  }
  
  #contato h2 {
    font-size: 2rem;
    color: var(--text-light);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }
  
  /* Animação de movimento para o texto "Entre em contato" */
  @keyframes moveText {
    0% {
      transform: translateY(0) translateX(-100%);
    }
    25% {
      transform: translateY(0) translateX(0);
    }
    50% {
      transform: translateY(0) translateX(100%);
    }
    75% {
      transform: translateY(0) translateX(-0%);
    }
    100% {
      transform: translateY(0) translateX(-100%);
    }
  }
  
  #contato-title {
    font-size: 2rem;
    color: var(--text-light);
    text-align: center;
    margin-bottom: 30px;
    animation: bounce 10s infinite alternate;
  }
  
  /* Aplicando animação ao título */
  #contato h2 span {
    display: inline-block;
    animation: moveText 8s infinite;
  }
  
  /* Links de contato */
  #contato ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #contato ul li {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: var(--text-light);
    position: relative;
    animation: fadeIn 1.5s ease-out;
  }
  
  /* Efeito de link */
  #contato a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    position: relative;
  }
  
  #contato a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s ease;
  }
  
  #contato a:hover::before {
    width: 100%;
  }
  
  #contato a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: var(--primary-color);
    color: var(--text-light);
    font-size: 20px;
  }
  