/* Background dinâmico */
body {
    font-family: Arial, sans-serif;
    background-image: url('background1.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

/* NavBar */
.navbar {
    background-color: #343a40;
}

.navbar-nav .nav-link {
    color: #fff;
}

/* Main content */
.content {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

.tech-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
