<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="src/styles/login.css">
    <link rel="icon" type="image/png" sizes="16x16" href="src/assets/images/favicon-curriculum-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <h1>Bem-vindo, {{ usuario }}!</h1>
    <a href="{{ url_for('logout') }}">Sair</a>
</body>

</html>