<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Viewer - Login</title>
    <link rel="stylesheet" href="src/styles/admin.css">
    <link rel="icon" type="image/png" sizes="16x16" href="src/assets/images/favicon-curriculum-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <h1>Login</h1>
    <form method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br>
        <label>Senha:</label><br>
        <input type="password" name="senha" required><br>
        <button type="submit">Entrar</button>
    </form>
    <p><a href="{{ url_for('registrar') }}">Cadastre-se</a></p>

</body>

</html>