<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Viewer</title>
  <link rel="stylesheet" href="../static/styles/style.css">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon-curriculum-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

  <header>
    <a href="{{ url_for('login') }}"><button id="enter">Login</button></a>
    <h1>Curriculos</h1>
    <p class="intro">Jovens energéticos e apaixonados por tecnologia e programação.</p>
    <button id="theme-toggle">Alternar Tema</button>
  </header>

  <main>
    <section id="certificados">
      <h2>Curriculos</h2>
      <div class="certificados-list"></div>
    </section>
    <br><br><br><br>
    <section id="contato">
      <h2><span>Contatos</span></h2>
      <ul>
        <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/richardesley"
            target="_blank">linkedin.com/in/richardesley</a></li>
        <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/fernanda-kikuchi"
            target="_blank">linkedin.com/in/fernandakikuchi</a></li>
        <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/"
            target="_blank">linkedin.com/in/matheusbrandao</a></li>
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 - Desenvolvido por Richard E. Fernanda K. e Matheus B.</p>
  </footer>

  <script src="../static/scripts/script.js"></script>
</body>

</html>