<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Admin Panel</title>
    <link rel="stylesheet" href="../static/styles/register.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon-curriculum-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="container">
        <h1>Crie um Novo Administrador</h1>
        <form method="POST">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>
            <div class="form-group">
                <label for="confirmacao">Confirmar Senha</label>
                <input type="password" id="confirmacao" name="confirmacao" placeholder="Confirme sua senha" required>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já é um Administrador? <a href="{{ url_for('login') }}">Faça login</a></p>
        <p>Voltar para <a href="{{ url_for('admin') }}">Admin Panel</a></p>
    </div>
</body>

</html>